[submodule "mercury-app"]
	path = mercury-app
	url = https://github.com/LastGentlman/mercury-app.git
[submodule "Backend"]
	path = Backend
	url = https://github.com/LastGentlman/Backend.git
[submodule "landing-page"]
	path = landing-page
	url = https://github.com/LastGentlman/landing-page.git
